$first-color:#113859;
$second-color:#1B6C8C;
$third-color:#F29966;
$fourth-color:#F27141;
$fifth-color:#BF634E;

$blue:#637FB0;
$grey:#EFF4F6;
$dark-blue:#7290C3;
$antrisit:#505960;

@font-face {
  font-family: 'DISLECTIKA-NavidNuur';
  src:url('DISLECTIKA_*_NavidNuur.otf');
  font-weight: normal;
  font-style: normal;
}