$first-color:#102601;
$second-color:#E8F2D8;
$third-color:#798C32;
$fourth-color:#ADBF69;
$fifth-color:#593E1D;

@font-face {
  font-family: 'DISLECTIKA-NavidNuur';
  src:url('DISLECTIKA_*_NavidNuur.otf');
  font-weight: normal;
  font-style: normal;
}

body {
	background-image:image-url('tree_bark.png') !important;
	background-repeat:repeat;
}